.gallery {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1720px;
    margin: 95px auto 25px auto;
    justify-content: center;
    align-items: center;
}